## order.tpl
<%inherit file="base.tpl"/>
% for field in fields:
    ${field}: ${getattr(data, field)}<br />
% endfor
<%block name="head"><title>testing</title></%block>
<%block name="header"><h1>${judul}</h1></%block>
